# config/services.yaml
parameters:
  con4gis.oauth.oidc.client_id: "###"
  con4gis.oauth.oidc.client_secret: "###"
  con4gis.oauth.oidc.auth_server_url: "###"
  con4gis.oauth.oidc.realm: "###"
  con4gis.oauth.oidc.secured_frontend: "false"
  con4gis.oauth.oidc.secured: "false"

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true
  _instanceof:
    Contao\CoreBundle\Framework\FrameworkAwareInterface:
      calls:
        - [ "setFramework", [ "@contao.framework" ] ]
    Symfony\Component\DependencyInjection\ContainerAwareInterface:
      calls:
        - [ "setContainer", [ "@service_container" ] ]
  con4gis\OAuthBundle\Controller\:
    resource: '../../Controller'
    tags: [ 'controller.service_arguments' ]
  oidc_authenticator:
    class: con4gis\OAuthBundle\Security\OidcAuthenticator
    autowire: true
    arguments:
      $userProvider: "@knpu.oauth2.user_provider"
      $chainUserProvider: "@security.user_providers"

  con4gis\OAuthBundle\Controller\KeycloakController:
    arguments: ["@knpu.oauth2.registry"]


  con4gis\OAuthBundle\Controller\OAuthLoginModuleController:
    tags:
      - name: contao.frontend_module
        category: miscellaneous
        template: 'oauth_login_template'